* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* NAV */

header {
    background-color: #d3d3d3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
    padding-left: 50px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 250px;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: #29b7b9;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.panel-left, .panel-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-container {
    width: 650px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border: 2px dashed #ccc;
    border-radius: 10px;
    position: relative;
}

#preview {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease;
}

.image-loaded {
    border: 2px solid #a4a8ac;
}


/* Botones */
.btn-upload, .btn-download, .btn-delete {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-upload {
    background-color: #29b7b9;
}

.btn-download {
    background-color: #3da112;
}

.btn-delete {
    background-color: red;
}

.btn-upload:hover {
    background-color: #0a7d7f;
    transform: scale(1.05);
}

.btn-download:hover {
    background-color: #205c07;
    transform: scale(1.05);
}

.btn-delete:hover {
    background-color: rgb(92, 8, 8);
    transform: scale(1.05);
}

input[type="number"], select {
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}


/* FOOTER */

footer {
    background-color: #d3d3d3;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

footer .social-icons {
    display: inline-flex;
    gap: 15px;
    margin-bottom: 10px;
}

footer .social-icons a {
    color: #000000;
    font-size: 30px;
    text-decoration: none;
}

footer .social-icons a:hover {
    color: #ddd;
}

footer p {
    margin-top: 10px;
    font-size: 17px;
}
